<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢迎页</title>
    <link rel="stylesheet" href="../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../frame/static/css/style.css">
    <link rel="icon" href="../frame/static/image/code.png">
</head>
<body class="body">

<div class="layui-row layui-col-space10 my-index-main">
    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">版本</h2>
                <div class="layui-colla-content layui-show">

                    <ul class="layui-timeline max-auto">

                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">不要让昨天的沮丧 让今天的梦想黯然失色 成功的人总是修改方法而不修改目标</h3>
                                <h3 class="layui-timeline-title">v1.2.0</h3>
                                <p>更新时间:2019-10-17</p>
                                <ul>
                                    <li>实现MongoDB与MySQL双数据源的切换,  缓存开关功能后台暂未实现</li>
                                    <li>实现云笔记的基本功能：已实现目录树、文本域、保存按钮， 以文档id作为唯一标识，可进行基本的文档内容新增，文档内容编辑后重复保存</li>
                                    <li>暂未实现文档删除功能（暂可通过置空文本域模拟删除文档）</li>
                                    <li>目录树的动态生成与编辑删除功能暂未实现，后期可进行优化</li>
                                    <li>新增server的端口配置以固定访问端口</li>
                                    <li>新增请求报文的参数限制配置， 以允许文本域中大数据量的提交</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">v1.1.0</h3>
                                <p>更新时间:2019-07-25</p>
                                <ul>
                                    <li>实现Spring登陆鉴权验证， 并使用已存在的账号密码登陆</li>
                                    <li>模块化功能</li>
                                    <li>修改已知BUG</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">v1.0.0</h3>
                                <p>更新时间:2019-04-25</p>
                                <ul>
                                    <li>框架整体模块搭建，保留了layui的大部分功能</li>
                                    <li>修改主题配色</li>
                                    <li>新增模块功能细化</li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">开始于2019年01月06日</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>