<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nicehancy.work.dal.mapper.AuthInfoMapper">

    <resultMap id="authInfoMap" type="com.nicehancy.work.dal.model.AuthInfoDO">
        <id column="ID"         property="id"           jdbcType="DECIMAL"/>
        <id column="AUTH_CODE"  property="authCode"     jdbcType="VARCHAR"/>
        <id column="AUTH_NAME"  property="authName"     jdbcType="VARCHAR"/>
        <id column="REMARK"     property="remark"       jdbcType="VARCHAR"/>
        <id column="CREATED_AT" property="createdAt"    jdbcType="TIMESTAMP"/>
        <id column="CREATED_BY" property="createdBy"    jdbcType="VARCHAR"/>
        <id column="UPDATED_AT" property="updatedAt"    jdbcType="TIMESTAMP"/>
        <id column="UPDATED_BY" property="updatedBy"    jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
         ID,
         AUTH_CODE,
         AUTH_NAME,
         REMARK,
         CREATED_AT,
         CREATED_BY,
         UPDATED_AT,
         UPDATED_BY
    </sql>

    <!-- 用户信息查询 -->
    <select id="queryAuthInfo" parameterType="java.lang.String" resultMap="authInfoMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
            T_AUTH_INFO
        WHERE
            AUTH_CODE = #{authCode, jdbcType = VARCHAR}
    </select>
</mapper>